<div class="container">
    <div class="button">
        <button mat-raised-button color="primary" (click)="add()">Add User From Uppser From</button>
    </div>
    <div class="list">
        <mat-list role="list">
            <div class="list-title">
                <mat-list-item role="listitem">First Name</mat-list-item>
                <mat-list-item role="listitem">Last Name</mat-list-item>
            </div>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
    </div>

</div>