.container{
    display: flex;
    flex-direction: column;

    .button-delete{
        margin-bottom:30px;
        margin-top:30px;
        button{
            width: 100%;
            height: 45px;
        }
      
    }
    .button-add{
        display: flex;
        justify-content: space-around;

        button{
            width: 45%;
        }
    }
}